<div class="row-fluid">
	<div class="woodsection">
		<div class="span12">
			
<% @users.each do |user| %>
	<%= user.full_name %><br>
	<%= link_to "Add Card", friendships_path(:friend_id => user), :method => :post %><br>
	<% end %>
	
</div>	
</div>	
</div>	