<p id="notice"><%= notice %></p>

<div class="row-fluid">
	<div class="woodsection">
		<div class="span12">
			
	<div class="row-fluid">
	<div class="span4 offset1">
		<br>
		<div class="bizcardheader">
		My Card	
		</div>	
		
		<div class="bizcard">
			
			<!-- Stores CSS for current User -->
			<style>
			.bizcard {
				background-color: <%= "#{@user.cardbackground}" %> 
			}
			</style>
			<!-- Stores CSS for current User END -->
			
			<div class="bizcardname">
		<%= best_in_place @user, :full_name %>
			</div>
			<div class="bizcardcompany">
		Company
<br>
			<%= best_in_place @user, :cardbackground, :type => :input %>
			</div>
		</div>
	
	</div>
	
</div>
</div>
</div>	
	
