// Place all the styles related to the Bizcards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bizcardformwrapper{
	position:relative;
	background-color:black;
	color:white;
	margin-top:10px;
	height:100px;
	width:100%;
	font-size:18px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.bizcardformtitle{
	display:inline;
	padding-left:20px;
}

.submitbutton{
  height:50px;	
  width:100% !important;
  font-size:18px !important;	
  margin:auto !important;	
  background-color:#2D2D2D !important;
  color:white !important;
  outline: none;
  border:none !important;
  box-shadow:none !important;
  border-radius: 0px !important;
}
