// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
	font: 68px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:#F3F7D9
}

.subheader{
	font-size: 28px;
	color:#5FA092;
}

.dashboardmenuadd{
	background-color:#5FA092;
	height:50px;
	width:140px;
	margin-left:10px;
}

.dashboardmenuaddtext{
	color:white;
	font-size:18px;
	text-align:center;	
	padding:15px;
}

.woodsection{
	background-color:#F3F7D9;
	height:1200px;
	background-image: image-url("retina_wood.png");
}

.bizcard{
	background-image: image-url("white_wall.png");
	margin-left:10px;
	height:200px;
	width:400px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.bizcardname{
	font-family:sans-serif;
	font-size:36px;
	text-align:center;
	padding:20px;
}

.bizcardcompany{
	font-family:sans-serif;
	font-size:18px;
	text-align:center;
}
