// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
	font: 50px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:#F3F7D9
}

.subheader{
	font-size: 18px;
	color:#5FA092;
}


.woodsection{
	height:1200px;
	background-color:#F4F8F9;
	-moz-box-shadow: 0 0 1px 1px #888;
	-webkit-box-shadow: 0 0 1px 1px#888;
	box-shadow: 0 0 1px 1px #888;
}

.Dashboardheader{
	padding:20px;
	text-align:center;
	font-size:32px;
	color:#A3AFB5;
}

.search{
	text-align:center;
	padding:20px;
}
.searchbarwrapper{
}
.searchbar{
	border:5px solid #F7FBFC !important;
	background-color:#DEEBF1 !important;
	width:50%;
	height:30px;
	-moz-box-shadow: inset 0 0 2px #888 !important;
	-webkit-box-shadow: inset 0 0 2px#888 !important;
	box-shadow: inner 0 0 2px #888 !important;
	border-radius:10px !important;
	-moz-box-shadow: 0 0 2px #888 !important;
	-webkit-box-shadow: 0 0 2px#888 !important;
	box-shadow: 0 0 2px #888 !important;
}

.search-query{
	width:50%;
}

.mytoken{
	font-size:28px;
	text-align:center;
	padding:20px;
	color:white;
	background-color:#363D46;
	-moz-box-shadow: 0 0 2px #888 !important;
	-webkit-box-shadow: 0 0 2px#888 !important;
	box-shadow: 0 0 2px #888 !important;
}

.bizcardheaderchoosecolor{
	padding:20px;
	text-align:center;
	font-size:20px;
}

.bizcardheaderchoosetoken{
	padding:20px;
	text-align:center;
	font-size:20px;
}


.bizcardheadermycard{
	padding:20px;
	text-align:center;
	font-size:20px;
}

.bizcardheadereditinfo{
	padding:20px;
	text-align:center;
	font-size:20px;
}

.editmycard{
	font-size:14px;
	float:left;
	margin-left:4px;
}


.addmycard{
	font-size:14px;
	float:left;
	margin-top:-15px;
	margin-left:4px;
}


.MYbizcard{
	height:200px;
	width:100%;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.MYbizcardborder{
	background-color:#D3D3D3;
	padding:5px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}
.CUbizcard{
	height:200px;
	width:100%;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.CUbizcardborder{
	position:relative;
	background-color:#D3D3D3;
	padding:5px;
	height:200px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
	margin-bottom:-140px;
}

.FRbizcard{
	height:200px;
	width:100%;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.FRbizcardborder{
	position:relative;
	height:200px;
	margin-bottom:-140px;	
}
.changecolorbutton{
	height:20px;
	width:10%;
	background-color:black;
	
}
.bizstackwrapper{
	position:relative;
}

.cardstackremove{
	float:right;
}

.bizcardstack{
	height:200px;
	width:100%;	
	margin-bottom:-140px;
}


.bizcardname{
	font-family:sans-serif;
	font-size:20px;
	font-weight:bold;
	text-align:center;
	padding:20px;
}

.bizcardcompany{
	font-family:sans-serif;
	font-size:14px;
	text-align:center;
}

.bizcardtitle{
	padding:3px;
	text-align:center;
	font-size:12px;
}
.twitter{
	text-align:center;
}

.address{
	margin-top:20px;
	text-align:center;
	font-size:10px;
	color:black;

}
.addbizcard{
	background-color:white;
	height:20px;
	width:5%;
}

.dateadded{
	color:#A3AFB5;
	font-size:10px;
}

