// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.header{
	font: 68px "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	color:#F3F7D9
}

.subheader{
	font-size: 28px;
	color:#5FA092;
}

.section2{
	background-color:#F3F7D9;
	height:1200px;
}