// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userformwrapper{
	position:relative;
	background-color:black;
	color:white;
	margin-top:10px;
	height:100%;
	width:100%;
	font-size:18px;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

.userformtitle{
	display:inline;
	padding-left:20px;
}


.companyedit{	
  width:50%;
  font-size:18px !important;	
  margin-top:9px;	
  background-color:black !important;
  color:#999999 !important;
  outline: none;
  border:none !important;
  border-bottom:1px dotted !important;
  box-shadow:none !important;
  border-radius: 0px !important;
}

.twitteredit{
  display:inline;
  width:50%;
  font-size:18px !important;	
  margin-top:9px;	
  background-color:black !important;
  color:#999999 !important;
  outline: none;
  border:none !important;
  border-bottom:1px dotted !important;
  box-shadow:none !important;
  border-radius: 0px !important;	
}
.colorselectwrapper{
}
.violetcolor{
	float:left;
	height:60px;
	width:20%;
	background-color:violet;
	border-style:none;
	color:violet;
}

.bluecolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#4793FA;
	border-style:none;
	color:#4793FA;
		
}

.greencolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#2CCA9E;
	border-style:none;
	color:#2CCA9E;
}

.graycolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#EDEDED;
	border-style:none;
	color:#EDEDED;
}

.yellowcolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#F4F190;
	border-style:none;
	color:#F4F190;
	
}

.coolpeachcolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#FFEFE7;
	border-style:none;
	color:#FFEFE7;
}
.coolbluecolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#86C7E9;
	border-style:none;
	color:#86C7E9;	
}

.coolgreencolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#83C2BE;
	border-style:none;
	color:#83C2BE;
}

.coolwhitecolor{
	float:left;
	height:60px;
	width:20%;
	background-color:ghostwhite;
	border-style:none;
	color:ghostwhite;
}

.coolyellowcolor{
	float:left;
	height:60px;
	width:20%;
	background-color:#DFF1B5;
	border-style:none;
	color:#DFF1B5;
}